.debug .row {
  min-height: 300px;
  border: 1px solid;
  background-color: pink;
}

.debug .row [class*="col-"] {
  min-height: 300px;
  border: 1px solid black;
}

.col-1 {
  width: calc(( 100% / 12 ) * 1);
}

.col-12 {
  width: calc(( 100% / 12 ) * 12);
}

.col-8 {
  width: calc(( 100% / 12 ) * 8);
}

.col-2 {
  width: calc(( 100% / 12 ) * 2);
}

.col-6 {
  width: calc(( 100% / 12 ) * 6);
}
